*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}



nav{
   padding: 10px 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background:white;
   position: relative;
   height: 70px;
}


nav ul{
   display: flex;
   gap: 30px;
   align-items: center;
}

nav ul li{
   list-style-type: none;
}

nav ul li a{
   text-decoration: none;
   color:black;
   font-weight: bold;
   font-size: 1.5rem;
  
}
nav ul li a:hover{
   color: #0e54ae;
   animation-name: fadeInDownBig;
}

.menu-icon{
   display: none;
}

.menu-icon i{
   color: #fff;
   font-size: 30px;
}

@media (max-width:600px) {
   nav ul{
       position: absolute;
       top: 70px;
       left: 0;
       right: 0;
       flex-direction: column;
       text-align: center;
       /* background: #004274; */
       background-color: #bebebe;
       color: white;
       gap: 0;
       overflow: hidden;
   }
   nav ul li{
       padding: 20px;
       padding-top: 0;
   }
   .menu-icon{
       display: block;
   }
   #menuList{
       transition: all 0.5s;
   }
}
.bgImage{
   background-image: url(images/sliderimg.jpeg);
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  
}
.colo{
   background-color:#4d3589;
   opacity: 0.55;
}