h1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: green;
}
.inputs{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
    width: 70%;
    text-align: center;
    margin-left: 15rem;
    
    
}
input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5rem;
    
}
.text{
  

  margin-left: 15rem;
  width: 100%;
  
}

.adress{
    text-align: center;
    margin-left: 1rem;
}
p{
    margin-left: 15rem;
    color: green;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
    width: 70%;
    text-align: center;
    margin-left: 15rem;
}
.left-footer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
    width: 70%;
    /* margin-right: 13rem; */
    text-align: center;
    margin-left: 15rem;
}
.email{
    margin-left: 15rem;
    margin-top: 2rem;
    width: 100%;
    color: green;
    font-family: sans-serif;
}
.paragraph{
    margin-inline-start: 1%;
 
};


