img{
    width: 15rem;
    border-radius: 10rem;
}
/* .header{
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
} */
.heading{
   text-align: center;
   font-family: sans-serif;
   
}
.heading :hover{
    cursor: pointer;
}
.right-head{
    margin-left: 50px;
    margin-top: 10rem;
    margin-inline-start: -11%;
   margin-right: 10rem;
}

/* .main{
    margin-top: 100px;
} */
 .main{
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    
 }
 .main :hover{
    cursor: pointer;
 }
 .right-footer{
    margin-top: 10rem;
    font-family: sans-serif;
    margin-inline-start: -12%;
    
 }
 .right-box{
    margin-top: 10rem;
    margin-inline-start: -12%;
 }
 .left-footer{
    margin-left: 10rem;
 }
.shadows{
    margin-top: 10rem;
    margin-inline-start: -19%;
}
.shadow{
    padding-right: 10rem;
}
.datas{
    margin-top: 10rem;
    margin-inline-start: -12%;
}
